USE [master]
GO
/****** Object:  Database [NetTruyenDB]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE DATABASE [NetTruyenDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NetTruyenDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NetTruyenDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NetTruyenDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\NetTruyenDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NetTruyenDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NetTruyenDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterImages]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ChapterID] [int] NOT NULL,
	[ImageURL] [nvarchar](500) NULL,
 CONSTRAINT [PK_dbo.ChapterImages] PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapters]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapters](
	[ChapterID] [int] IDENTITY(1,1) NOT NULL,
	[StoryID] [int] NOT NULL,
	[ChapterNumber] [int] NOT NULL,
	[ChapterTitle] [nvarchar](255) NULL,
	[PublishedAt] [datetime] NOT NULL,
	[ChapterText_TextID] [int] NULL,
 CONSTRAINT [PK_dbo.Chapters] PRIMARY KEY CLUSTERED 
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChapterTexts]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChapterTexts](
	[TextID] [int] IDENTITY(1,1) NOT NULL,
	[ChapterID] [int] NOT NULL,
	[ContentText] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ChapterTexts] PRIMARY KEY CLUSTERED 
(
	[TextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[CommentID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[StoryID] [int] NOT NULL,
	[ChapterID] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[CommentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteStories]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteStories](
	[StoryID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.FavoriteStories] PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[GenreID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.Genres] PRIMARY KEY CLUSTERED 
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRole] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stories]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stories](
	[StoryID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NULL,
	[Author] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[CoverImage] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Ranking] [real] NOT NULL,
	[TypeID] [int] NOT NULL,
	[Views] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Stories] PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryGenres]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryGenres](
	[StoryID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.StoryGenres] PRIMARY KEY CLUSTERED 
(
	[StoryID] ASC,
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[TypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](255) NULL,
 CONSTRAINT [PK_dbo.Types] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/10/2025 12:36:13 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NULL,
	[Role] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[PaidSubscription] [bit] NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChapterImages] ON 

INSERT [dbo].[ChapterImages] ([ImageID], [ChapterID], [ImageURL]) VALUES (1, 9, N'image1.jpg')
INSERT [dbo].[ChapterImages] ([ImageID], [ChapterID], [ImageURL]) VALUES (2, 9, N'image2.jpg')
INSERT [dbo].[ChapterImages] ([ImageID], [ChapterID], [ImageURL]) VALUES (3, 9, N'image3.jpg')
SET IDENTITY_INSERT [dbo].[ChapterImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapters] ON 

INSERT [dbo].[Chapters] ([ChapterID], [StoryID], [ChapterNumber], [ChapterTitle], [PublishedAt], [ChapterText_TextID]) VALUES (1, 1, 1, N'Khởi đầu hành trình', CAST(N'2025-10-06T21:43:40.270' AS DateTime), NULL)
INSERT [dbo].[Chapters] ([ChapterID], [StoryID], [ChapterNumber], [ChapterTitle], [PublishedAt], [ChapterText_TextID]) VALUES (2, 1, 2, N'Đụng độ hải tặc Buggy', CAST(N'2025-10-11T21:43:40.270' AS DateTime), NULL)
INSERT [dbo].[Chapters] ([ChapterID], [StoryID], [ChapterNumber], [ChapterTitle], [PublishedAt], [ChapterText_TextID]) VALUES (3, 1, 1, N'Khởi đầu hành trình', CAST(N'2025-10-08T14:58:09.070' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Chapters] OFF
GO
SET IDENTITY_INSERT [dbo].[Comments] ON 

INSERT [dbo].[Comments] ([CommentID], [UserID], [StoryID], [ChapterID], [Content], [CreatedAt]) VALUES (1, 2, 1, 1, N'Truyện hay quá!', CAST(N'2025-10-14T21:43:40.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[Comments] OFF
GO
INSERT [dbo].[FavoriteStories] ([StoryID], [UserID]) VALUES (1, 2)
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([GenreID], [Name], [Description]) VALUES (1, N'Action', N'Hành động kịch tính')
INSERT [dbo].[Genres] ([GenreID], [Name], [Description]) VALUES (2, N'Romance', N'Tình cảm lãng mạn')
INSERT [dbo].[Genres] ([GenreID], [Name], [Description]) VALUES (3, N'Comedy', N'Hài hước vui nhộn')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([IdRole], [RoleName]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Stories] ON 

INSERT [dbo].[Stories] ([StoryID], [Title], [Author], [Description], [CoverImage], [Status], [CreatedAt], [Ranking], [TypeID], [Views]) VALUES (1, N'Vua Hải Tặc', N'Eiichiro Oda', N'Cuộc phiêu lưu của Luffy và đồng đội.', N'~/Image/Cover/story21.jpg', N'Đang tiến hành', CAST(N'2025-10-16T21:43:40.217' AS DateTime), 9.8, 1, 0)
INSERT [dbo].[Stories] ([StoryID], [Title], [Author], [Description], [CoverImage], [Status], [CreatedAt], [Ranking], [TypeID], [Views]) VALUES (2, N'Thám Tử Lừng Danh Conan', N'Gosho Aoyama', N'Câu chuyện về cậu bé Conan điều tra phá án.', N'~/Image/Cover/story22.jpg', N'Đang tiến hành', CAST(N'2025-10-16T21:43:40.217' AS DateTime), 9.5, 1, 0)
INSERT [dbo].[Stories] ([StoryID], [Title], [Author], [Description], [CoverImage], [Status], [CreatedAt], [Ranking], [TypeID], [Views]) VALUES (3, N'Vạn Cổ Chi Tôn', N'Thiên Vũ', N'Truyện tiên hiệp hấp dẫn về con đường tu luyện nghịch thiên.', N'~/Image/Cover/story1.jpg', N'Đang ra', CAST(N'2025-10-18T14:53:25.437' AS DateTime), 4.8, 1, 125000)
SET IDENTITY_INSERT [dbo].[Stories] OFF
GO
INSERT [dbo].[StoryGenres] ([StoryID], [GenreID]) VALUES (1, 1)
INSERT [dbo].[StoryGenres] ([StoryID], [GenreID]) VALUES (2, 2)
INSERT [dbo].[StoryGenres] ([StoryID], [GenreID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (1, N'Comic')
INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (2, N'Novel')
INSERT [dbo].[Types] ([TypeID], [TypeName]) VALUES (3, N'Hành động')
SET IDENTITY_INSERT [dbo].[Types] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [CreatedAt], [PaidSubscription], [IdRole]) VALUES (1, N'admin', N'admin@example.com', N'123456', 1, CAST(N'2025-10-16T21:43:40.117' AS DateTime), 1, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [CreatedAt], [PaidSubscription], [IdRole]) VALUES (2, N'user1', N'user1@example.com', N'123456', 2, CAST(N'2025-10-16T21:43:40.117' AS DateTime), 0, 2)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [Role], [CreatedAt], [PaidSubscription], [IdRole]) VALUES (3, N'chieu1', N'chieu25052004@gmail.com', N'8d969eef6ecad3c29a3a629280e686cf0c3f5d5a86aff3ca12020c923adc6c92', 1, CAST(N'2025-10-29T14:40:35.083' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_ChapterID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChapterID] ON [dbo].[ChapterImages]
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChapterText_TextID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChapterText_TextID] ON [dbo].[Chapters]
(
	[ChapterText_TextID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoryID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_StoryID] ON [dbo].[Chapters]
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChapterID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChapterID] ON [dbo].[ChapterTexts]
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ChapterID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_ChapterID] ON [dbo].[Comments]
(
	[ChapterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoryID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_StoryID] ON [dbo].[Comments]
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[Comments]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoryID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_StoryID] ON [dbo].[FavoriteStories]
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_UserID] ON [dbo].[FavoriteStories]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TypeID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_TypeID] ON [dbo].[Stories]
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_GenreID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_GenreID] ON [dbo].[StoryGenres]
(
	[GenreID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoryID]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_StoryID] ON [dbo].[StoryGenres]
(
	[StoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdRole]    Script Date: 30/10/2025 12:36:13 SA ******/
CREATE NONCLUSTERED INDEX [IX_IdRole] ON [dbo].[Users]
(
	[IdRole] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Stories] ADD  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[ChapterImages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChapterImages_dbo.Chapters_ChapterID] FOREIGN KEY([ChapterID])
REFERENCES [dbo].[Chapters] ([ChapterID])
GO
ALTER TABLE [dbo].[ChapterImages] CHECK CONSTRAINT [FK_dbo.ChapterImages_dbo.Chapters_ChapterID]
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Chapters_dbo.ChapterTexts_ChapterText_TextID] FOREIGN KEY([ChapterText_TextID])
REFERENCES [dbo].[ChapterTexts] ([TextID])
GO
ALTER TABLE [dbo].[Chapters] CHECK CONSTRAINT [FK_dbo.Chapters_dbo.ChapterTexts_ChapterText_TextID]
GO
ALTER TABLE [dbo].[Chapters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Chapters_dbo.Stories_StoryID] FOREIGN KEY([StoryID])
REFERENCES [dbo].[Stories] ([StoryID])
GO
ALTER TABLE [dbo].[Chapters] CHECK CONSTRAINT [FK_dbo.Chapters_dbo.Stories_StoryID]
GO
ALTER TABLE [dbo].[ChapterTexts]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ChapterTexts_dbo.Chapters_ChapterID] FOREIGN KEY([ChapterID])
REFERENCES [dbo].[Chapters] ([ChapterID])
GO
ALTER TABLE [dbo].[ChapterTexts] CHECK CONSTRAINT [FK_dbo.ChapterTexts_dbo.Chapters_ChapterID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Chapters_ChapterID] FOREIGN KEY([ChapterID])
REFERENCES [dbo].[Chapters] ([ChapterID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Chapters_ChapterID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Stories_StoryID] FOREIGN KEY([StoryID])
REFERENCES [dbo].[Stories] ([StoryID])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Stories_StoryID]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[FavoriteStories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavoriteStories_dbo.Stories_StoryID] FOREIGN KEY([StoryID])
REFERENCES [dbo].[Stories] ([StoryID])
GO
ALTER TABLE [dbo].[FavoriteStories] CHECK CONSTRAINT [FK_dbo.FavoriteStories_dbo.Stories_StoryID]
GO
ALTER TABLE [dbo].[FavoriteStories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FavoriteStories_dbo.Users_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteStories] CHECK CONSTRAINT [FK_dbo.FavoriteStories_dbo.Users_UserID]
GO
ALTER TABLE [dbo].[Stories]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Stories_dbo.Types_TypeID] FOREIGN KEY([TypeID])
REFERENCES [dbo].[Types] ([TypeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Stories] CHECK CONSTRAINT [FK_dbo.Stories_dbo.Types_TypeID]
GO
ALTER TABLE [dbo].[StoryGenres]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StoryGenres_dbo.Genres_GenreID] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([GenreID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StoryGenres] CHECK CONSTRAINT [FK_dbo.StoryGenres_dbo.Genres_GenreID]
GO
ALTER TABLE [dbo].[StoryGenres]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StoryGenres_dbo.Stories_StoryID] FOREIGN KEY([StoryID])
REFERENCES [dbo].[Stories] ([StoryID])
GO
ALTER TABLE [dbo].[StoryGenres] CHECK CONSTRAINT [FK_dbo.StoryGenres_dbo.Stories_StoryID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_IdRole] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Roles] ([IdRole])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_IdRole]
GO
USE [master]
GO
